.u {

	&-pointer {
		cursor: pointer;
	}

	&-no-underline {
		&:hover {
			text-decoration: none;
		}
	}

	&-t-base {
		font-size: 14px;
	}

	&-pos {
	  position: absolute;

	  &-has {
	    position: relative;
	  }

	  &-l {
	    &-t {
	      @extend .u-pos;
	      top: 0px;
	      left: 0px;
	    }

	    &-m {
	      @extend .u-pos;
	      top: 50%;
	      left: 0px;
	      @include transform(translateY(-50%))
	    }

	    &-b {
	      @extend .u-pos;
	      bottom: 0px;
	      left: 0px;
	    }
	  }

	  &-r {
	    &-t {
	      @extend .u-pos;
	      top: 0px;
	      right: 0px;
	    }

	    &-m {
	      @extend .u-pos;
	      top: 50%;
	      right: 0px;
	      @include transform(translateY(-50%))
	    }

	    &-b {
	      @extend .u-pos;
	      bottom: 0px;
	      right: 0px;
	    }
	  }

	  &-m {
	    &-t {
	      @extend .u-pos;
	      top: 0px;
	      left: 50%;
	      @include transform(translateX(-50%))
	    }

	    &-b {
	      @extend .u-pos;
	      bottom: 0px;
	      left: 50%;
	      @include transform(translateX(-50%))
	    }

	    &-m {
	      @extend .u-pos;
	      top: 50%;
	      left: 50%;
	      @include transform(translateX(-50%) translateY(-50%))
	    }
	  }
	}

	&-seperator {
		width: 100%;
		height: 1px;
		background: $border-color;

		div {
			width: 35px;
			height: 35px;
			text-align: center;
			display: inline-block;
			background: white;
			padding: 5px;
			border: 1px solid $border-color;
			border-radius: 50%;
		}
	}
}