
// Colours
$border-color: #dcdcdc;
$link-color: #14bef0;

// Padding Declarations
$padding-x-sm: 3px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 20px;
$padding-xxl: 24px;
$padding-xxxl: 30px;

// Margin Declarations
$margin-x-sm: 3px;
$margin-sm: 8px;
$margin-md: 12px;
$margin-lg: 16px;
$margin-xl: 20px;
$margin-xxl: 24px;
$margin-xxxl: 30px;